html{
    scroll-behavior: smooth;
}

body{
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-amarelo-textura-aquarela_1083-163.jpg");
    background-repeat: repeat;
    margin: 0;
}
.cabeca{
    font-size: 30px;
    background: #fcebb6;
    margin-top: 0;
}

h1{
    color: black;
    font-family: "Times New Roman", serif;
}

h3{
    font-size: 30px;
    color:#5e412f;
    background: #fcebb6;
    text-align: center
}

p{
    background: aliceblue;
    color: black;
    font-family: "Times New Roman", serif;
    padding: 30px;
    margin: 50px;
    border-style: ridge;
    border-radius: 20px;
}

.habilidades{
    background: #fef0a5;
    color: black;
    font-family: "Times New Roman", serif;
    padding: 3%;
    margin: 5% 20% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #74819d;
    border-radius: 20px;
}

.conteudo{
    padding: 3%;
    padding-left: .1px;
    position: relative;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    background: #f8d28b;
    border-style: solid;
    border-color: #74819d;
    border-radius: 40px;
}

.tabela{
    display: flex;
    margin: 8%;
    border-style: solid;
    border-width: 2px;
}

.Formulario{
    background: aliceblue;
    color: black;
    font-family: "Times New Roman", serif;
    padding: 3%;
    margin: 5% 20% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-radius: 20px;

}

input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
    border: 2px solid #74819d;
    background-color: #fef0a5;
    outline: none;
}


#redes sociais{
    display: flex;
    justify-content: center;

}



table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 18px;
    text-align: left;
    border: 1px solid #ddd;
    background: aliceblue;
}


.portal{
    text-align: center;

}

.volta{
    border: none;
    text-align: right;
    position: sticky;
    bottom: 0;

}

.volta img{
    width: 4%;
}
.tema{
    display: flex;
    justify-content: right;
    width: 100%;
    background: transparent;
    border: none;
    padding: 0;

}

.botao1:hover{
    background: #fef0a5;
    transition: 0.3s;
}

.botao1{
    font-family: "Times New Roman", serif;
    color: black;
    font-size: 18px;
    background: bisque;
    border-radius: 15px;
    padding: 8px;
}

.fotos{
    justify-content: center;
    display: flex;
}
