<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Curriculo</title>
    <link id="theme" rel="stylesheet" href="estilo.css">
</head>
<header>
    <div class="cabeca">
        <h1 id="topo">Tiririca</h1>
    </div>
</header>
<body >

<div class="fotos">

<img src="download.jpg" alt="axooooooo" title="Imgem de titirica quando era bonito">
<!--URL relativa -->

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-8OLoo-KrCIleKNBbln6S5hQAebzu80zrPQ&s"
     alt="Abextado" title="Foto de tiririca sendo tiririca">
<!--URL absoluta -->
</div>

<h3>Profissão: Politico</h3>

<p>Sou um cara engraçado, comecei minha carreira fazendo stand up no programa do Tom cavalcante<br>
logo depois virei politico pois nosso pais é uma piada<br>
</p>
<div class="habilidades">
<h2 style="text-align: center">HABILIDADES: </h2>
<div class="conteudo">
<ul>
    <li>Engraçado</li>
    <li><mark>Honesto</mark></li>
    <li>Engraçado</li>
    <li><mark>Honesto</mark></li>
</ul>
</div>
</div>

<div id="redes sociais">
<p style="text-align: center">
<a target="_blank" href="https://pt.wikipedia.org/wiki/Tiririca" style="font-family: 'Times New Roman'">SOBRE MIM<br></a>
    <a href="mailto:wendel.nunes@ufn.edu.br">Contate ao seu empresario</a>
</p>

</div>

<div class="portal">
<button class="botao1"  onclick="window.open('https://www.camara.leg.br/deputados/160976', '_blank')">Portal da camara</button>
</div>

    <div class="tabela">
<table>
    <tr>
        <th>Habilidades</th>
        <th>Nivel</th>
        <th>Experiência</th>
    </tr>
    <tr>
        <td>Comedia</td>
        <td>Doutorado</td>
        <td>25 Anos</td>
    </tr>
    <tr>
        <td>Politica</td>
        <td>Nivel Fundamental</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Pai</td>
        <td>Nivel Extreme</td>
        <td>infinito</td>
    </tr>
</table>
</div>

<div class="tabela">
    <table>
        <tr>
            <th>Piadas</th>
            <th>Vezes Usadas</th>
            <th>Nivel de Aceitação</th>
        </tr>
        <tr>
            <td>Piada do Pavê</td>
            <td>+1000</td>
            <td>15%</td>
        </tr>
        <tr>
            <td>Piada do Mario</td>
            <td>300</td>
            <td>20%</td>
        </tr>
        <tr>
            <td>Piadas sobre Loiras</td>
            <td>500</td>
            <td>80%</td>
        </tr>
    </table>
</div>
<h2 style="text-align: center">Faça parte do Nosso Grupo de Apostas</h2>
<div class="Formulario">

    <form method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
        </div><br>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Seuemail@hotmail.com" id="email" required>
        </div><br>
        <div>
            <label for="tipo">Tipo de Aposta:</label>
            <select id="tipo" name="aposta" required>
                <option value="Cassino">Cassino</option>
                <option value="Aposta Esportiva">Aposta Espostiva</option>
                <option value="Tigrinho">Tigrinho</option>
                <option value="Jogo do Bicho">Jogo do Bicho</option>
                <option value="Tri Legal">Tri Legal</option>
            </select><br><br>
        </div>
        <div>
            <h4>Gênero:</h4>
            <input type="radio" id="masc" name="genero" value="masculino">
            <label for="masc">Masculino</label>
            <input type="radio" id="fem" name="genero" value="feminino">
            <label for="fem">Feminino</label><br><br>
        </div>
        <div>
            <label for="mensagem">Mensagem:</label><br>
            <textarea id="mensagem" name="mensagem" rows="4" cols="40"></textarea><br><br>

            <button>Enviar</button>
        </div>


    </form>
</div>

<div class="volta">
    <a href="#topo">
        <img src="892561.png" alt="sobe">
    </a>
    <button class="tema" onclick="changeStyle('estilo.css')">
        <img src="claro.png" alt="Claro">
    </button>

    <button class="tema" onclick="changeStyle('estilo-dark.css')">
        <img src="cabuloso.png" alt="Escuro">
    </button>
    <script>
        function changeStyle(sheet) {
            document.getElementById('theme').href = sheet;
        }
    </script>
</div>

</body>
</html>