<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Titulo</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body >
<h1 style="font-size: 50px">Tiririca</h1>

<div class="conteudo">
<img src="download.jpg" alt="axooooooo" title="Imgem de titirica quando era bonito">
<!--URL relativa -->

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-8OLoo-KrCIleKNBbln6S5hQAebzu80zrPQ&s"
     alt="Abextado" title="Foto de tiririca sendo tiririca">
<!--URL absoluta -->
</div>

<h3 style="font-size: 30px; color:#5e412f; background: #fcebb6; text-align: center" >Profissão: Politico</h3>

<p>Sou um cara engraçado, comecei minha carreira fazendo standup no programa do Tom cavalcante<br>
logo depois virei politico pois nosso pais é uma piada<br>
</p>
<h3>HABILIDADES</h3>
<ul>
    <li>Engraçado</li>
    <li><mark>Honesto</mark></li>
    <li>Engraçado</li>
    <li><mark>Honesto</mark></li>
</ul>
<p style="text-align: center">
<a target="_blank" href="https://pt.wikipedia.org/wiki/Tiririca" style="font-family: Corbel">SOBRE MIM<br></a>
    <a href="mailto:wendel.nunes@ufn.edu.br">Contate ao seu empresario</a>
</p>
<button class="botao"  onclick="window.open('https://www.camara.leg.br/deputados/160976', '_blank')">Portal da camara</button>
<table style="width:100%">
    <tr>
        <th>Habilidades</th>
        <th>Nivel</th>
        <th>Experiência</th>
    </tr>
    <tr>
        <td>Comedia</td>
        <td>Doutorado</td>
        <td>25 Anos</td>
    </tr>
    <tr>
        <td>Politica</td>
        <td>Nivel Fundamental</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Pai</td>
        <td>Nivel Extreme</td>
        <td>infinito</td>
    </tr>
</table>



</body>
</html>